{{#let this.model.unloader as |unloader|}}
  <article class="columns {{if unloader.hasChanges "dirty" "success"}}">
    {{#if unloader.showConfirmation}}
      <Modals::AbandonChangesConfirmation
        @title="Abandon Bar route changes?"
        @manager={{unloader.confirmationModal}}
      />
    {{/if}}

    <section>
      <h2>
        Bar route
        {{#if unloader.hasChanges}}
          &mdash; with dirty changes
        {{/if}}
      </h2>

      <p>Make a change in the form and attempt to transition away.</p>

      <ExampleForm {{on "input" unloader.registerChanges}}>
        {{#let (unique-id) as |id|}}
          <label for={{id}}>First Name:</label>
          <input id={{id}} name="firstName">
        {{/let}}
      </ExampleForm>
    </section>

    <section>
      <img
        src="https://picsum.photos/200/200?random=2"
        alt="a visual (random) hint that the page is different from other
          similar pages with the same layout"
      >
    </section>
  </article>
{{/let}}
