{{#in-element (query-selector "#application-modal")}}
  <dialog
    ...attributes
    {{open-dialog}}
    {{on "close" @manager.cancel}}
    {{on-document "click" @manager.cancel}}
  >
    <h1 class="header">
      <span class="title">{{@title}}</span>
      <button class="dismiss" type="button" {{on "click" @manager.cancel}}>
        &cross;
      </button>
    </h1>

    <p class="body">
      Leaving this page will loose any changes you've made!
      Are you sure you would like to leave?
    </p>

    <p class="footer">
      {{! template-lint-disable no-autofocus-attribute }}
      <button type="button" autofocus {{on "click" @manager.cancel}}>
        No, stay here.
      </button>
      <button class="danger" type="button" {{on "click" @manager.confirm}}>
        Yes, abandon changes!
      </button>
    </p>
  </dialog>
{{/in-element}}
